/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: "Muli", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Muli", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: "Muli", sans-serif;
	color: #636363;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 40px;
	text-align: center;
}

.section-title .product-price {
	font-size: 24px;
	font-weight: 700;
	color: #e7ab3c;
}

.section-title .product-price span {
	font-size: 16px;
	font-weight: 400;
	color: #636363;
}

.section-title h2 {
	color: #252525;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 38px;
	position: relative;
}

.section-title h2:before {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -14px;
	width: 80px;
	height: 3px;
	background: #e7ab3c;
	content: "";
	margin: 0 auto;
}

.section-title p {
	color: #6e6e6e;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-bottom: 100px;
}

.checkmark:after {
	position: absolute;
	content: "";
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	padding: 12px 30px;
	color: #ffffff;
	background: #e7ab3c;
	text-transform: uppercase;
}

.site-btn {
	color: #ffffff;
	background: #e7ab3c;
	border: 1px solid #e7ab3c;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 13px 45px 11px;
	cursor: pointer;
}

/*---------------------
  Breadcrumb
-----------------------*/

.breadcrumb-text {
	border-bottom: 1px solid #ebebeb;
	padding: 15px 0;
}

.breadcrumb-text.product-more a:nth-child(1):after {
	color: #252525;
}

.breadcrumb-text a {
	display: inline-block;
	font-size: 16px;
	color: #252525;
	margin-right: 28px;
	position: relative;
}

.breadcrumb-text a:after {
	position: absolute;
	right: -18px;
	top: 0px;
	content: "";
	font-family: "FontAwesome";
	font-size: 16px;
	color: #b2b2b2;
}

.breadcrumb-text span {
	display: inline-block;
	color: #b2b2b2;
}

.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.empty {
	text-align: center;
	width: 100%;
}

.errorBoundary h2 {
	margin: 0 0 20px;
}

.errorBoundary {
	text-align: center;
	margin: 40px auto;
}

.errorBoundary.html {
	margin: 16px 0 0 0;
}

.errorBoundary.html h4 {
	font-size: 13px;
}

/* Chrome, Safari, Edge, Opera Hide Arrows From Input Number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox Hide Arrows From Input Number */
input[type=number] {
	-moz-appearance: textfield;
}